<article class="wrapper-post {{#if boxed}}boxed{{/if}}">
    <h2 class="post-title">
        {{#unless titless}}
          {{title}}
        {{/unless}}
    </h2>
    <p class="post-info">
        Posted by <strong>{{author.name}}</strong> on {{createdOn}} in <a href="/category/{{category.id}}" data-navigo>{{category.name}}</a>
        <span role="separator">|</span> {{comments.length}} Comments
    </p>
    <div class="wrapper-post-image">
        <img src="../uploads/posts/{{_id}}.jpeg" alt="post media">
    </div>
    <p class="post-text">{{text}}</p>
</article>