<article class="col-md-3 wrapper-card">
    <h3 class="card-heading">Read in {{category.name}}</h3>
    <div class="wrapper-card-image">
        <img src="../uploads/posts/{{_id}}.jpeg" alt="{{title}}">
        <div class="card-control" data-post="{{_id}}">
            <img src="./images/card-control-active.png">
            <span class="sr-only">Go to post</span>
        </div>
    </div>

    <p class="card-text">{{text}}</p>
</article>