<article class="{{#unless vertical}}col-sm-3{{/unless}} wrapper-list">
    <h3 class='list-heading'>{{type}}</h3>
    {{#unless skipList}}
        <ul>
        {{#each items}}
            <li><a href="/blog/{{postId}}" data-navigo>{{text}}</a></li>
        {{/each}}
        </ul>
    {{else}}
        <p>
            <a href="/blog/{{postId}}" data-navigo>
                {{text}}
            </a>
        </p>
    {{/unless}}
</article>